<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>34</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://leksiqq.github.io/WpfMarkupExtension/download/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net6.0-windows\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(нет)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net6.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-06-26T15:12:12.4999432Z;True|2023-05-03T12:34:27.9648663+03:00;True|2023-05-03T12:25:43.5388895+03:00;True|2023-03-20T10:17:57.0656858+03:00;True|2023-03-20T10:15:05.6899410+03:00;True|2023-03-20T08:57:21.2919768+03:00;True|2023-03-19T11:42:59.9384399+03:00;True|2023-03-19T10:41:30.7914374+03:00;True|2023-03-19T10:25:28.6192404+03:00;True|2023-03-19T09:38:36.9282365+03:00;True|2023-03-13T16:36:29.9677934+03:00;True|2023-03-13T16:31:55.5397914+03:00;True|2023-03-13T13:50:02.9921713+03:00;True|2023-03-11T19:41:45.1099263+03:00;True|2023-03-11T19:40:51.5443028+03:00;True|2023-03-10T11:25:04.6327819+03:00;True|2023-03-09T18:59:50.5185066+03:00;True|2023-03-09T17:32:09.3840358+03:00;True|2023-03-02T18:43:46.2261486+03:00;True|2023-03-02T18:34:03.5611698+03:00;True|2023-03-02T18:27:15.6366143+03:00;True|2023-03-02T18:20:27.2323154+03:00;True|2023-03-02T18:15:04.2792598+03:00;True|2023-03-02T17:55:16.2448555+03:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>Среда выполнения .NET для классических приложений 6.0.14 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>